In [54]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from numpy.random import randint
import seaborn as sns
%matplotlib inline

In [55]:
df = pd.read_csv('gisette_train.data', header=None)
df.head()
#df1.shape

                                                   0
0  550 0 495 0 0 0 0 976 0 0 0 0 983 0 995 0 983 ...
1  0 0 0 0 0 0 0 976 0 0 0 0 0 0 584 0 0 0 0 0 0 ...
2  0 0 0 0 0 0 0 0 0 0 0 0 983 0 995 983 976 0 0 ...
3  0 0 742 0 0 0 0 684 0 956 0 0 983 0 991 816 98...
4  0 0 0 0 0 0 0 608 0 979 0 0 0 0 972 0 0 0 0 0 ...

In [79]:
df2 = df[0].str.split(" ",expand=True)
df2

,0,1,2,3,4,5,6,7,8,9,...,4991,4992,4993,4994,4995,4996,4997,4998,4999,5000
0,550,0,495,0,0,0,0,976,0,0,...,0,0,991,991,0,0,0,0,983,
1,0,0,0,0,0,0,0,976,0,0,...,475,0,991,0,0,991,0,0,0,
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,
3,0,0,742,0,0,0,0,684,0,956,...,0,0,0,0,0,674,0,0,838,
4,0,0,0,0,0,0,0,608,0,979,...,0,0,828,0,0,0,0,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,783,0,0,0,
5996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,921,0,886,0,
5997,0,0,0,0,0,758,0,0,0,522,...,901,0,0,0,0,980,0,0,0,
5998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,690,0,0,0,0,0,
5999,0,0,991,0,0,0,0,0,0,0,...,0,0,288,0,0,972,0,0,991,

In [84]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
#scaler.fit(df2)
#scaled_data = scaler.transform(df2)

#from sklearn.decomposition import PCA
#pca  = PCA(n_components=2)
#pca.fit(scaled_data)


# Put the features, labels into their own dataframes
feature_df = df2.iloc[:,:]
feature_df
#label_df = df.iloc[:,1]

,0,1,2,3,4,5,6,7,8,9,...,4991,4992,4993,4994,4995,4996,4997,4998,4999,5000
0,550,0,495,0,0,0,0,976,0,0,...,0,0,991,991,0,0,0,0,983,
1,0,0,0,0,0,0,0,976,0,0,...,475,0,991,0,0,991,0,0,0,
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,
3,0,0,742,0,0,0,0,684,0,956,...,0,0,0,0,0,674,0,0,838,
4,0,0,0,0,0,0,0,608,0,979,...,0,0,828,0,0,0,0,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,783,0,0,0,
5996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,921,0,886,0,
5997,0,0,0,0,0,758,0,0,0,522,...,901,0,0,0,0,980,0,0,0,
5998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,690,0,0,0,0,0,
5999,0,0,991,0,0,0,0,0,0,0,...,0,0,288,0,0,972,0,0,991,

In [87]:
label_df = df2.iloc[:,0]
label_df

0       550
1         0
2         0
3         0
4         0
       ...
5995      0
5996      0
5997      0
5998      0
5999      0
Name: 0, Length: 6000, dtype: object

In [90]:
from sklearn.preprocessing import StandardScaler
import numpy as np

x = df2.values
x = StandardScaler().fit_transform(x)
np.mean(x),np.std(x)

ValueError: could not convert string to float: ''